body {
  background-image: url(/src/images/Images/InstaSubBackground.jpeg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: "Cabin Sketch", cursive;
  padding: 2vmin;
  height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: "Cabin Sketch", cursive;
  background-position: center top;
  background-attachment: fixed;
}
